.Icon__Div {
  display: flex;
  align-items: center;
}

.Icon__Div svg {
  margin-right: 1.5rem;
}

.Icon__Div i {
  font-size: 1.5rem;
}

.UserProfileDiv {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
}

.UserProfileDiv img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
}
