.CommentsDiv {
  border: 1px solid rgba(239, 239, 239);
  padding: 0.5rem;
}

.Comment__Div__Input {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Comment__Icon_Div {
  width: 40px;
  height: 100%;
  display: flex;
}

.Comment__Div__Input input {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
}

.Comment__Div__Input .PostYourComment p {
  color: var(--darkBlue);
  font-weight: 600;
}

.Comments {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.UserComments {
  display: flex;
  align-items: center;
  margin: 0.3rem 0;
}

.UserComments h3 {
  font-size: 0.8rem;
}

.UserComments p {
  font-size: 0.9rem;
  margin-left: 0.3rem;
}
